.idea
**/*-lock.json
.nyc_output
node_modules
logs
*.log
lib-cov/
NO_COMMIT/
**/coverage/**
**/coverage-e2e/**
**/test-reports/**
**/test-results/**
**/docs/*
**/build/**
**/lib/**
**/dist/**
**/public/**
*.css
*.scss
*.less
*.ico
*.jpg
*.jpeg
*.png
*.svg
*.bmp
*.gif
*.webp
*.woff
*.woff2
*.txt
*.mdx
*.md
*.ejs
*.hbs
*.jade
*.html
seo_report
**/.last-run.json
packages/design-tokens/js
